{% extends 'base_backend.html.twig' %}

{% block title %}New RecommendationLevel{% endblock %}

{% block body %}
    <h1>Create new RecommendationLevel</h1>

    {{ include('recommendation_level/_form.html.twig') }}

    <a href="{{ path('recommendation_level_index') }}">back to list</a>
{% endblock %}
