{% extends 'base_backend.html.twig' %}

{% block title %}AnchorTag{% endblock %}

{% block body %}
    <h1>AnchorTag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anchor_tag.id }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ anchor_tag.tag }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ anchor_tag.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('anchor_tag_index') }}">back to list</a>

    <a href="{{ path('anchor_tag_edit', {'id': anchor_tag.id}) }}">edit</a>

    {{ include('anchor_tag/_delete_form.html.twig') }}
{% endblock %}
