{% extends 'base_backend.html.twig' %}

{% block title %}Algorithm index{% endblock %}

{% block body %}

    <h1>Algorithms by Questionaire</h1>
    <ul>
        {% for questionaire in questionaires %}
            <li>
                <a href="{{ url('algorithm_index_by_questionaire', {'questionaireId': questionaire.id}) }}">{{ questionaire.title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
