{% extends 'base_backend.html.twig' %}

{% block title %}Algorithm{% endblock %}

{% block body %}
    <h1>Algorithm</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ algorithm.id }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ algorithm.description }}</td>
        </tr>
        <tr>
            <th>Readable If Statement</th>
            <td>
                {{ readableIfStatement|raw }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('algorithm_index') }}">back to list</a>

    <a href="{{ path('algorithm_edit', {'id': algorithm.id}) }}">edit</a>

    {{ include('algorithm/_delete_form.html.twig') }}
{% endblock %}
