{% extends 'base_backend.html.twig' %}

{% block title %}Hello Contributor!{% endblock %}
{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="panel">
                    <div class="panel-body">
                        <h5 class="panel-title">Questionaires</h5>
                        <p class="panel-text">View and create new Questionaires</p>
                        <a href="{{ url('questionaire_index') }}" class="panel-link">Go to Questionaires</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="panel">
                    <div class="panel-body">
                        <h5 class="panel-title">Guidelines</h5>
                        <p class="panel-text">View and create new Guidelines</p>
                        <a href="{{ url('guideline_index') }}" class="panel-link">Go to Guidelines</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="panel">
                    <div class="panel-body">
                        <h5 class="panel-title">Question Items</h5>
                        <p class="panel-text">View and create new QuestionItems</p>
                        <a href="{{ url('question_item_index') }}" class="panel-link">Go to QuestionItems</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="panel">
                    <div class="panel-body">
                        <h5 class="panel-title">Anchors</h5>
                        <p class="panel-text">View and create new Anchors</p>
                        <a href="{{ url('anchor_index') }}" class="panel-link">Go to Anchors</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="panel">
                    <div class="panel-body">
                        <h5 class="panel-title">Algorithms</h5>
                        <p class="panel-text">View and create new Algorithms</p>
                        <a href="{{ url('algorithm_index') }}" class="panel-link">Go to Algorithms</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>


{% endblock %}