{% extends 'base_backend.html.twig' %}
{% block title %}Edit GuidelineTable{% endblock %}

{% block body %}
    <h1>Edit GuidelineTable</h1>

    {{ include('guideline_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('guideline_table_index') }}">back to list</a>

    {{ include('guideline_table/_delete_form.html.twig') }}
{% endblock %}
