.anchor-modal{
    font-size: 1.15em;
}

.body-wrapper a {
    color: white;
    text-decoration: underline;
    outline: none;
}

.js-context-anchor{
    display:none;
}

.js-toggle-context-anchor{
    cursor: pointer;
}

.limit-search-lable{
 color: #9197a1;
}