body{
    font-size: 16px;
}
del {
    text-decoration: line-through;
    background-color: #B0413E;
}

ins {
    background-color: #63a563;
}

.active{
    display:block;
}


.inactive{
    display:none;
}

.img-thumbnail{
    cursor: pointer;
}

.anchor-popup-nav{
    font-weight: bold;
    cursor: pointer;
}

select.questionaire-choices {
    font-size: 2em;
    background-color: #3b3f45;
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    /*background-color: #F07575; !* Fallback color if gradients are not supported *!*/
    background-image: url(../images/icons/arrow-down.svg); /* For old Firefox (3.6 to 15) */
    background-image: url(../images/icons/arrow-down.svg); /* For Chrome and Safari */
    background-image: url(../images/icons/arrow-down.svg); /* For pre-releases of Internet Explorer  10*/
    background-image: url(../images/icons/arrow-down.svg); /* For old Opera (11.1 to 12.0) */
    background-image: url(../images/icons/arrow-down.svg); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 1em;
    border: 3px solid rgb(35, 37, 41);;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin: 15px;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#limit-search-selectbox{
    display: none;
}


select[multiple] {
    height: 200px;
}

#anchor-popup{
    margin-top: 15px;
    max-height: 550px;
    font-size: 1.3em;
}

#guideline-excerpts-headline{
    margin-top: 25px;
    font-size: 2em;
}

.modal{
    color: black;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/*.row.content {height: 450px}*/

.fill {
    min-height: 90%;
    height: 90%;
}

/* Set gray background color and 100% height */
.sidenav {
    /*padding-top: 20px;*/
    /*background-color: #f1f1f1;*/
    height: 100%;
}


.dblUnderlined { border-bottom: 4px double; }


/*
color buttons with badges
 */

/* Define what each icon button should look like */
.anchor-color-button {
    color: white;
    display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
    position: relative; /* All 'absolute'ly positioned elements are relative to this one */
    padding: 13px; /* Add some padding so it looks nice */
}


/* Make the badge float in the top right corner of the button */
.button-badge {
    display: none;
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px;
    font-size: 10px;

    position: absolute; /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
}

.anchor-popup-source{
    font-size: 60%;
}

.anchor-popup-quote{
    border-left: 4px solid;
    padding-left: 5px;
}

.alert-dark{
    background: #232629;
}

.anchor-box-padding{
    padding: 0 10px;
}

.login-wrapper input{
    color: #3b3b1f;
}


/*modification to external components*/




.jBox-content {
    color: black;
    max-width: 400px;
}


/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        margin-top: 45px;
        padding: 30px;
    }
    .row.content {height:auto;}
    #limit-search-box{
        display:none;
    }

/*    hide footer after a few seconds on mobile devices*/
    footer {
        background-color: #555;
        color: white;
        -webkit-animation: seconds 1.0s forwards;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 5s;
        animation: seconds 1.0s forwards;
        animation-iteration-count: 1;
        animation-delay: 5s;
    }

    select[multiple], select[size] {
        height: auto;
    }

    @-webkit-keyframes seconds {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            left: -9999px;
        }
    }
    @keyframes seconds {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            left: -9999px;
        }
    }
}