{% extends 'base_backend.html.twig' %}

{% block title %}New Anchor{% endblock %}

{% block body %}
    <h1>Create new Anchor</h1>

    {{ include('anchor/_form.html.twig') }}

    {% if relationTo == 'algorithm' %}
        <a href="{{ path('algorithm_index_by_questionaire', {'questionaireId': anchor.getAlgorithm.getQuestionaire.getId}) }}">I'm done! Back to Algorithms</a>
    {% else %}
        <a href="{{ path('question_item_index_by_questionaire', {'questionaireId': anchor.getQuestionItem.getQuestionaire.getId}) }}">I'm done! Back to Questionitems</a>
    {% endif %}

    <div id="guidelineText"></div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ include('anchor/_guideline_ajax_call.html.twig') }}
{% endblock %}
