{% extends 'base_backend.html.twig' %}

{% block title %}Edit QuestionItem{% endblock %}

{% block body %}
    <h1>Edit QuestionItem</h1>

    {{ include('question_item/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    {{ include('question_item/_delete_form.html.twig') }}
    <br>
    <button class="js-form-field-remove-content" data-form-field-id="question_item_displayCondition">Remove
        IfStatement
    </button>
    <br>
    <a href="{{ path('question_item_index') }}">back to list</a>
    {# remove the current questionItem to stop self reference   #}
    {% set questionItemChoices = [] %}
    {% for possibleQuestionItem in questionItems %}
        {% if possibleQuestionItem == questionItem %}
        {% else %}
            {% set questionItemChoices = questionItemChoices|merge([possibleQuestionItem]) %}
        {% endif %}
    {% endfor %}

    {{ include('_js_sortable_to_json.html.twig', {
        'questionItems': questionItemChoices,
        'algorithms': questionItem.getQuestionaire.getAlgorithms,
        'questionItemParents': questionItemParents,
        'formName': 'question_item',
        'formItemIDIfStatement': 'question_item_displayCondition',
        'formItemIDStar': ''}) }}

{% endblock %}
