{% extends 'base_backend.html.twig' %}

{% block title %}QuestionItem index{% endblock %}

{% block body %}
    <h3>{{ questionItemParent.content }}</h3>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr class="table danger">
                <td>{{ questionItemParent.type }}</td>
                <td>{{ questionItemParent.content }}</td>
                <td>
                    <a href="{{ path('question_item_new', {'parentId': questionItemParent.id, 'type':'MULTI_SELECT'}) }}">
                        <button>Add Multi Select</button>
                    </a>
                    <a href="{{ path('question_item_new', {'parentId': questionItemParent.id, 'type':'SINGLE_SELECT'}) }}">
                        <button>Add Single Select</button>
                    </a>
                </td>
            </tr>
            {% if not questionItemParent.children == null %}
                {% for selectableQuestionItem in questionItemParent.children %}


                    <tr class="table info">
                        <td>{{ selectableQuestionItem.type }}</td>
                        <td>{{ selectableQuestionItem.content }}</td>
                        <td>
                            <a href="{{ path('question_item_edit', {'id': selectableQuestionItem.id}) }}">edit</a>
                            <a href="{{ path('question_item_new', {'parentId': selectableQuestionItem.id, 'type':'OPTION'}) }}">
                                <button>Add Option</button>
                            </a>
                            <a href="{{ path('question_item_moveup', {'id': selectableQuestionItem.id, 'questionaireId': questionaire.id}) }}
                            ">&uarr;</a>
                            <a href="{{ path('question_item_movedown', {'id': selectableQuestionItem.id, 'questionaireId': questionaire.id}) }}">&darr;</a>
                        </td>
                    </tr>

                    {% for option in selectableQuestionItem.children %}

                        <tr class="table warning">
                            <td>{{ option.type }}</td>
                            <td>{{ option.content }}<p class="text-muted">Anchors:

                            </td>
                            <td>
                                <a href="{{ path('question_item_edit', {'id': option.id}) }}">edit</a>
                                <a href="{{ path('anchor_questionitem_new', {'questionItemId': option.id}) }}">
                                    <button>Add Anchors</button>
                                </a>
                                <a href="{{ path('question_item_moveup', {'id': option.id, 'questionaireId': questionaire.id}) }}">&uarr;</a>
                                <a href="{{ path('question_item_movedown', {'id': option.id, 'questionaireId': questionaire.id}) }}">&darr;</a>
                            </td>
                        </tr>
                        {% for anchor in option.getAnchors %}
                            <tr class="table success">
                                <td></td>
                                <td><p {% if anchor.reviewStatus == 'REJECTED' %}title="{{ anchor.reviewCmt }}"
                                       class="text-danger"{% endif %}>Anchors:
                                        {{ anchor.text|raw }} ({{ anchor.getGuideline }}
                                        ) {% if anchor.reviewStatus == 'OK' %}<span title="Reviewed and approved Anchor"
                                                                                    class="glyphicon glyphicon-ok-circle"></span>{% endif %}
                                    </p>
                                </td>
                                <td>

                                    {{ include('review/_anchor_review_snippet.html.twig') }}

                                    <a href="{{ path('anchor_show', {'id': anchor.id}) }}" class="btn btn-success">
                                        Show Anchor
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            {#                        empty line for clearer seperation of item blocks#}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </div>
{% endblock %}