{% extends 'base_backend.html.twig' %}

{% block title %}QuestionItem index{% endblock %}

{% block body %}

    <h1>QuestionItems by Questionaire</h1>
    <ul>
        {% for questionaire in questionaires %}
            <li><a href="{{ url('question_item_index_by_questionaire', {'questionaireId': questionaire.id}) }}">{{ questionaire.title }}</a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
