{% extends 'base_backend.html.twig' %}

{% block title %}New QuestionItem{% endblock %}

{% block body %}
    <h3>New QuestionItem  </h3>
    for
    <p>{{ parentQuestionItem }}</p>
    <p>Type: {{ type }}</p>

    {{ include('question_item/_form.html.twig') }}

    <a href="{{ path('question_item_index') }}">back to list</a>
{% endblock %}
