{% extends 'base_backend.html.twig' %}
{% block title %}New GuidelineFigure{% endblock %}

{% block body %}
    <h1>Create new GuidelineFigure</h1>

    {{ include('guideline_figure/_form.html.twig') }}

    <a href="{{ path('guideline_figure_index') }}">back to list</a>
{% endblock %}
