{% extends 'base_frontend.html.twig' %}

{% block title %}Welcome to FungAssist{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/full_screen_form/component.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/full_screen_form/cs-select.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/full_screen_form/cs-skin-boxes.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/full_screen_form/cs-skin-boxes.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.after.css') }}"/>

    <script src="{{ asset('js/full_screen_form/modernizr.custom.js') }}"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row content fill">
        <div id="questionaire-wrapper" class="col-md-6 col-md-offset-3 fill text-center">
            <div id="intro-description" class="intro"><p>This tool allows you to find the most relevant guideline
                    excerpts for <span style="text-decoration: underline; font-weight: bold;">your</span> patient.</p>
                <p>Let's start making better decisions about:</p></div>

            <select title="Switch between multiple diseases." class="questionaire-choices tooltip-frontend intro">
                <option value="" disabled selected>Select your option</option>
                {% for questionaireAvailable in questionaires %}
                    <option>{{ questionaireAvailable }}</option>
                {% endfor %}
            </select>
            <div class="intro-banner-made-by intro">Made with <i class="fa fa-heart"></i> by academic researchers of the
                University Hospital of Cologne
            </div>
            <div id="limit-search-box">
                <div class="limit-search-lable tooltip-frontend"
                     title="Here you can specify Guidlines you want to receive quotes from (e.g. you just want to get quotes from two particular guidlines and are not interested in the rest). Click to activate!">
                    Limit
                    my search
                </div>
                <select id="limit-search-selectbox" multiple style="width: 100%;" class="">
                    {% for guideline in questionaire.getGuidelines %}

                        <option value="{{ guideline.id }}">
                            {{ guideline }}
                        </option>

                    {% endfor %}
                    {#                <option>#}
                    {#                    Actions#}
                    {#                </option>#}
                    {#                <option>#}
                    {#                    Information#}
                    {#                </option>#}
                </select>
            </div>
            {#            <h1 class="text-center">{{ questionaire }}</h1>#}
            {#            <div class="row justify-content-md-center">#}
            {#                <div class="col-md-auto">#}
            <div class="fs-form-wrap fill" id="fs-form-wrap">

                <form id="questionaire" class="fs-form fs-form-full" autocomplete="off" method="post"
                      data-url-submit="{{ url('api-submitQuestionaire') }}"
                      data-url="{{ url('thankyou_for_submit') }}"
                      data-url-patient-report="{{ url('api-getPatientReport') }}"
                      data-url-slug="{{ url('api-getNewQuestionaireResultSlug') }}"
                      data-url-active-questionitems="{{ url('api-getActiveQuestionItems') }}"
                >
                    <ol class="fs-fields">
                        {% if not questionItemParent.children == null %}
                            {% for selectableQuestionItem in questionItemParent.children %}

                                <li {% if selectableQuestionItem.type == 'SINGLE_SELECT' %}data-input-trigger{% endif %}
                                    class="question-item {% if selectableQuestionItem.displayCondition is null %}active{% else %}inactive{% endif %}" data-qi-id="{{ selectableQuestionItem.id }}" >
                                <label class="js-questionaire-item required fs-field-label fs-anim-upper {% if selectableQuestionItem.type == 'MULTI_SELECT' %}multi-select-label{% endif %}"
                                       for="question_item_type">{{ selectableQuestionItem.content }}</label>
                                <select class="js-questionaire-item form-control qi-select form-selectbox fs-mark fs-anim-lower"
                                        {% if selectableQuestionItem.type == 'MULTI_SELECT' %}multiple
                                        data-placeholder="Select your option"{% endif %}
                                        id="qi-{{ selectableQuestionItem.id }}" "
                                name="{{ selectableQuestionItem.id }}{% if selectableQuestionItem.type == 'MULTI_SELECT' %}[]{% endif %}">
                                {% if selectableQuestionItem.type == 'SINGLE_SELECT' %}
                                    <option value="" disabled selected>Select your option</option>
                                {% endif %}
                                {% for option in selectableQuestionItem.children %}
                                    <option name="{{ option.id }}" id="qi-{{ option.id }}"
                                            value="{{ option.id }}" data-qi-id="{{ option.id }}"
                                            class="qi-option question-item {% if option.displayCondition is null %}active {% else %}inactive{% endif %}"
                                    >{{ option.content }} </option>
                                {% endfor %}
                                </select>
                                </li>

                            {% endfor %}
                        {% endif %}
                    </ol>
                    <button id="questionaire-submit" data-url="{{ url('thankyou_for_submit') }}" class="fs-submit"
                            type="submit">Submit
                    </button>
                    {#                    <button type="submit" id="opener" value="Submit">Submit</button>#}
                </form>
                {#                    </div>#}
                {#                </div>#}
            </div>

        </div>
        <div id="sidenav" style="display: none;" class="col-md-6 sidenav">
            <h2 class="text-center" id="guideline-excerpts-headline">Guideline Excerpts:
                {#                <i class="fa fa-question-circle tooltip-frontend"#}
                {#                                                                        title="After selecting question items corresponding guideline quotes will be presented below ranked by their respective importance."></i>#}
            </h2>

            <div class="text-center explain-anchor-color">
                <div style="padding-left: 0;" class="anchor-color-button info">
                    <span class="tooltip-frontend"
                          title="Quotes with this color are providing informative content. Nothing to act upon. Click to filter."><span
                                class="glyphicon glyphicon-info-sign" style="color: #31708f"></span></span><span
                            class="button-badge">0</span>
                </div>
                <div class="anchor-color-button success">&nbsp;<span
                            class="tooltip-frontend"
                            title="Quotes with this color display recommendations that you are already implementing correctly. Great job! Click to filter.">
                        <span class="glyphicon glyphicon-ok" style="color: #3c763d"></span></span><span
                            class="button-badge">0</span>
                </div>
                <div class="anchor-color-button danger">&nbsp;<span
                            class="tooltip-frontend"
                            title="Quotes with this color display recommendations that differ from your current approach. You should carefully study them. Click to filter.">
                        <span class="glyphicon glyphicon-fire " style="color: #a94442"></span></span><span
                            class="button-badge">0</span>
                </div>
            </div>


            <div id="anchor-popup" data-url="{{ url('api-getAnchorByQuestionItem') }}" class="col-sm">
            </div>


        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script src="{{ asset('js/full_screen_form/classie.js') }}"></script>
    <script src="{{ asset('js/full_screen_form/selectFx.js') }}"></script>
    <script src="{{ asset('js/full_screen_form/fullscreenForm.js') }}"></script>


    <script>

    </script>
    <script>
        $(document).ready(function () {

            // initiate Form
            var formWrap = document.getElementById('fs-form-wrap');

            let FFormInstances = {};
            FFormInstances.instance = new FForm(formWrap, {
                onReview: function () {
                    classie.add(document.body, 'overview'); // for demo purposes only
                }
            });


            $(".qi-select").on('click', function (event, params) {

                $(this).find("option:selected").each(function () {
                    selectedQuestionItemId = $(this).val();
                });


                var selectedQuestionItemIds = [];
                $(".qi-select").each(function () {
                    $(this).find("option:selected").each(function () {
                        selectedQuestionItemIds.push($(this).val());

                    });

                });
                selectedQuestionItemIds = selectedQuestionItemIds.map(Number);

                // get all guidelines selected by looping over them and merging them to one array
                var guidelineFilter = [];

                $('.chosen-select').each(function (i, obj) {
                    guidelineFilter.push($(this).val());
                });

                guidelineFilter = [].concat.apply([], guidelineFilter);

                // ajax request to get new anchors
                $.post($('#anchor-popup').data('url'),
                    {
                        questionItemId: selectedQuestionItemId,
                        questionItemIds: selectedQuestionItemIds,
                        questionaire: {{ questionItemParent.questionaire.id }},
                        guidelineFilter: guidelineFilter,
                    },
                    function (data, status) {
                        // console.log(data);
                        var anchorsJSON = jQuery.parseJSON(data);


                        // get algorithm Ids for removal of Anchors
                        let algorithms = anchorsJSON.map(anchor => anchor.algorithm).filter(function (el) {
                            return el != null;
                        });
                        let algorithmIds = algorithms.map(algorithm => algorithm.id);

                        addAnchors(anchorsJSON);

                        // set all links with the anchor text to blank
                        $('.anchor-popup-text a').attr('target', '_blank');

                        removeInvalidAnchors(selectedQuestionItemIds, algorithmIds);

                        updateNotificationBadges();

                        reloadTooltips();
                    });




                $.when(
                    // ajax request to update questionaire
                    $.post($('#questionaire').data('url-active-questionitems'),
                        {
                            selectedQuestionItemIds: selectedQuestionItemIds,
                            questionaireTitle: getCurrentQuestionaireTitle(),
                        },
                        function (data, status) {
                            console.log(data);
                            // var data2 = jQuery.parseJSON(data);
                            // console.log(data, data2);
                            $(data).each(function () {
                                if (this.state === false) {
                                    $('.question-item[data-qi-id="' + this.id + '"]').addClass('inactive');
                                    $('.question-item[data-qi-id="' + this.id + '"]').removeClass('active');
                                } else {
                                    $('.question-item[data-qi-id="' + this.id + '"]').addClass('active');
                                    $('.question-item[data-qi-id="' + this.id + '"]').removeClass('inactive');
                                }



                            })
                        })

                ).done(function () {

                    //update form

                    // remove dots
                    $('.fs-nav-dots').remove();

                    FFormInstances.instance.update();
                });

                // scroll to top of anchor popups
                var myElement = $('#anchor-popup:first-child');
                document.getElementById('anchor-popup').scrollTop = myElement.offsetTop;

                saveQuestionaire();


            });

            // get readable Algorithm statement for this popup
            $(document).on('click', '.understand-anchor-popup', function () {
                algorithmId = $(this).closest('.anchor-box').attr('data-algorithm-id');
                algorithmId = algorithmId.replace(/^\D+/g, '');

                if ($('.understand-algorithm-modal[data-algorithm-id="' + algorithmId + '"').length === 0) {

                    $.post('{{ url('api-getReadableAlgorithmText') }}',
                        {
                            algorithmId: algorithmId,
                        },
                        function (data, status) {
                            let modal = generateModal('understand-algorithm-modal', 'data-algorithm-id="' + algorithmId + '"', 'Why do I see this? The following rule applied to your selection:', jQuery.parseJSON(data));
                            $('body').append(modal);
                            $('.understand-algorithm-modal[data-algorithm-id="' + algorithmId + '"').modal();

                        });
                } else {
                    $('.understand-algorithm-modal[data-algorithm-id="' + algorithmId + '"').modal();
                }

            });


        });

    </script>
{% endblock %}

