{% extends 'base_frontend.html.twig' %}

{% block title %}Thank you!{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8">
            <h2>Thank you for using FungAssist</h2>
        </div>
        <div class="col-sm-2 sidenav">
            <h3>News!</h3>

        </div>
    </div>


{% endblock %}

