{% extends 'base_backend.html.twig' %}

{% block title %}Hello ReviewController!{% endblock %}

{% block body %}
    <h3>Open Reviews by Questionaire</h3>
    <ul>
        {% for questionaire in questionaires %}
            <li><a href="{{ url('question_item_index_by_questionaire', {'questionaireId': questionaire.id}) }}">{{ questionaire.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
