{% extends 'base_frontend.html.twig' %}
{% block body %}
{#    <div>#}
{#            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
{#                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
{#                <a href="{{ path('fos_user_security_logout') }}">#}
{#                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
{#                </a>#}
{#            {% else %}#}
{#                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
{#            {% endif %}#}
{#        </div>#}
    <br>
    <br>
    <br>
    <br>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="col-md-6 col-md-offset-3 fill text-center login-wrapper">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}