<div class="modify-item-condition"><h4>Modify If Statement</h4>
<label>Operators</label>
<select class="js-sortable-select js-select-operator chosen-select">
    <option value="" disabled selected>Add an operator</option>
    <option data-type="operator" value="{{ constant('App\\Entity\\Algorithm::SUPPORTED_OPERATORS')['AND'] }}">{{ constant('App\\Entity\\Algorithm::SUPPORTED_OPERATORS')['AND'] }}</option>
    <option data-type="operator" value="{{ constant('App\\Entity\\Algorithm::SUPPORTED_OPERATORS')['OR'] }}">{{ constant('App\\Entity\\Algorithm::SUPPORTED_OPERATORS')['OR'] }}</option>
</select>

<br><br>

<label>QuestionItems</label>
<select class="js-sortable-select js-select-questionitem chosen-select">
    <option value="" disabled selected>Add an Question Item</option>
    {% for questionItem in questionItems %}
        {% if questionItem.type == 'OPTION' %}
            <option data-type="questionItem" value="{{ questionItem.id }}">{{ questionItemParents[questionItem.parentId] }}
                -> {{ questionItem.content }}</option>
        {% endif %}
    {% endfor %}
</select>

<br><br>

<label>Algorithms</label>
<select class="js-sortable-select js-select-algorithm chosen-select">
    <option value="" disabled selected>Add an Algorithm</option>
    {% for algorithm in algorithms %}
            <option data-type="algorithm" value="{{ algorithm.id }}">{{ algorithm.description }}</option>
    {% endfor %}
</select>

<br><br>

<button id="js-sortable-to-json" data-form="{{ formName }}" data-form-item-ifstatement="{{ formItemIDIfStatement }}"
        data-form-item-star="{{ formItemIDStar }}">Translate Logic Tree to JSON & Save
</button>


<h4>Logic Tree:</h4>
<div id="sortableIfStatement" class="nested-sortable empty-sortable"></div>
</div>