{% extends 'base.html.twig' %}


{% block title %}Backend{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/backend.css') }}">

{% endblock %}
{% block nav_bar %}
    {{ parent() }}
{% endblock %}

    {% block body %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="{{ asset('js/backend.js') }}"></script>
{% endblock %}